<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <title>Samiser</title>
    <meta name="description" content="Samiser's space on the internet">
    
    <!-- twitter card -->
    <meta property="og:title" content="Samiser">
    <meta property="og:description" content="my space on the internet">
    <meta property="og:image" content="https://images.samiser.xyz/location.png">
    <meta name="twitter:card" content="summary_large_image">
    
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <header>
      <h1>
        <a href="#home">Samiser</a>
      </h1>
      <nav>
        {% for page in pages %}
          {% if pages[page]["navbar"] == True %}
          <a href="#{{ page }}">{{ pages[page]["title"] }}</a>
          {% endif %}
        {% endfor %}
        <a href="#blog">Blog</a>
      </nav>
    </header>

    <main>
      {% for page in pages %}<section id="{{ page }}">
        <h1>{{ pages[page]["title"] }}</h1>
        <hr>
        {{ pages[page]["content"] }}
      </section>{% endfor %}
      <section id="blog">
        <h1>Blog</h1>
        <hr>
        <p>for the music i'm currently listening to, check out <a href="/#listening">listening</a>
        <p>for my current vinyl collection, check out <a href="/#vinyl">vinyl</a>
          {% for year in blogs_by_year %}<h2>{{ year }}</h2>
          <ul>
            {% for blog in blogs_by_year[year] %}
            <li><a href="#{{ blogs[blog]["meta"]["date"] }}-{{ blog }}"><em>{{ blogs[blog]["meta"]["date"] }}</em> - {{ blogs[blog]["meta"]["title"] }}</a></li>
            {% endfor %}
          </ul>
          {% endfor %}
      </section>

      {% for blog in blogs %}
      <section id="{{ blogs[blog]["meta"]["date"] }}-{{ blog }}">
        <h1>{{ blogs[blog]["meta"]["title"] }}</h1>
        <p><em>{{ blogs[blog]["meta"]["date"] }}</em></p>
        <p><em>{{ blogs[blog]["meta"]["time_to_read"] }} minute read</em></p>
        <hr>
        {{ blogs[blog]["content"] }}
        <hr>
        <a href="#blog">Back</a>
      </section>
      {% endfor %}
    </main>

  </body>
</html>

