<section id="blog">
  <h1>blog</h1>
  <hr>
  <p>for the music i'm currently listening to, check out <a href="/#listening">listening</a>
  <p>for my current vinyl collection, check out <a href="/#vinyl">vinyl</a>
    {% for year in blogs_by_year %}<h2>{{ year }}</h2>
    <ul>
      {% for blog in blogs_by_year[year] %}
      <li><a href="#{{ blog["meta"]["date"] }}-{{ blog["meta"]["title"].lower().replace(" ", "-") }}"><em>{{ blog["meta"]["date"] }}</em> - {{ blog["meta"]["title"] }}</a></li>
      {% endfor %}
    </ul>
    {% endfor %}
</section>

{% for blogs in blogs_by_year.values() %}
{% for blog in blogs %}
<section id="{{ blog["meta"]["date"] }}-{{ blog["meta"]["title"].lower().replace(" ", "-") }}">
  <h1>{{ blog["meta"]["title"] }}</h1>
  <p><em>{{ blog["meta"]["date"] }}</em></p>
  <p><em>{{ blog["meta"]["time_to_read"] }} minute read</em></p>
  <hr>
  {{ blog["content"] }}
  <hr>
  <a href="#blog">Back</a>
</section>
{% endfor %}
{% endfor %}
