<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>Samiser</title>
    <meta name="description" content="Samiser's space on the internet" />

    <!-- twitter card -->
    <meta property="og:title" content="Samiser" />
    <meta property="og:description" content="my space on the internet" />
    <meta
      property="og:image"
      content="https://images.samiser.xyz/location.png"
    />
    <meta name="twitter:card" content="summary_large_image" />

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    {% filter indent(width=4) %}{% include "header.html" %}{% endfilter %}
    {% filter indent(width=4) %}{% include "pages.html" %}{% endfilter %}
  </body>
</html>
